<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Parks API</title>
</head>

<body>
  @{
      ViewBag.Title = "Trying to get this to work";
  }

  <p>You're logged in as:&nbsp;@User.Identity.Name</p>
  <p>@ViewBag.Message</p>
</body>
</html>
